@media (max-width: 768px) {
  /* HEADER */

  header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 15px;
  }

  /* LOGO */

  .logo {
    order: 1;
    width: 50%;
  }

  /* ICONS */

  .icons {
    order: 2;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
  }

  /* MENU */

  nav {
    order: 3;
    width: 100%;
    justify-content: center;
    display: none;
    flex-direction: row;
    background: #fff;
  }

  nav a {
    padding: 0.5rem 0.01rem;
  }

  /* SEARCH BAR */

  .search-bar {
    order: 4;
    width: 100%;
    margin-top: 1rem;
  }

  .search-bar input {
    width: 100%;
    padding: 0.6rem;
  }

  /* MENU TOGGLE */

  nav.show-menu {
    display: flex;
  }

  /* CATEGORY SECTION */

  .categories {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .category {
    width: 100%;
    height: auto;
  }

  /* HERO SECTION */

  .hero {
    flex-direction: column;
    gap: 15px;
    padding: 10px;
  }

  .hero .card img {
    width: 100%;
    border-radius: 8px;
  }

  /* OFFER CARDS */

  .category-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .card-text {
    display: none;
  }

  .card-to img {
    width: 100%;
  }

  /* BANNER */

  .banner {
    padding: 20px;
    text-align: center;
  }

  .banner h1 {
    font-size: 22px;
  }

  .banner p {
    font-size: 14px;
  }

  /* FOOTER */

  .footer-container {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0px;
  }

  .footer-col {
    border-bottom: 1px solid #ddd;
    padding: 15px 0px;
  }

  /* Hide list initially */

  .footer-col ul {
    display: none;
    padding-top: 10px;
  }

  /* Footer title */

  .footer-col h4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
  }

  /* Arrow */

  .footer-col h4::after {
    content: "▼";
    font-size: 12px;
  }

  /* Active */

  .footer-col.active ul {
    display: block;
  }

  .footer-col.active h4::after {
    transform: rotate(180deg);
  }

  /* Footer bottom */

  .footer-bottom {
    flex-direction: column;
    text-align: center;
    gap: 15px;
    margin-top: 20px;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
